@using FinWebMvcIdentity.Models.ViewModel
@model List<RecordByCategoryViewModel>

@{
    ViewData["Title"] = "FinWeb";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Finweb - Controle Financeiro</h1>
            <p class="col-md-12 fs-4">Um sistema de controle financeiro ajuda a manter as finanças organizadas, otimiza o orçamento e facilita a tomada de decisões. Crie uma conta agora mesmo e comece a controlar suas finanças</p>
            <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Register">Começar Grátis</a>
            <a class="btn btn-info btn-lg" asp-area="Identity" asp-page="/Account/Login">Já é usuário? Faça o login</a>
        </div>
    </div>
}
else
{
    <canvas id="despesasChart" width="400" height="200"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('despesasChart').getContext('2d');
            var despesasChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.Category))),
                    datasets: [{
                        label: 'Despesas',
                        data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.Total))),
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
}