@{
    ViewData["Title"] = "Políticas de Privacidade";
}
<h1>@ViewData["Title"]</h1>
<hr />
<p>Nossa política de privacidade assegura que todas as informações pessoais e financeiras são mantidas em total sigilo, usadas apenas para oferecer um serviço seguro e eficiente.</p>
