@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmação de e-mail";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<hr />
<a class="btn btn-info btn-lg" asp-area="Identity" asp-page="/Account/Login">Acessar o sistema</a>